.container {
    /* display: flex; */
    background-color: #f0f0f0;
    background-image: none;
    width: 80vh;
    height: auto;
    padding: 20px;
    text-align: left;
    /* z-index: 10; */
}

.title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.content {
    font-size: 16px;
    color: #666;
}

.images {
    max-height: 500px;
    padding: 20px;
}

.inLineDiv {
    display: flex;
    align-items: flex-start;
}

.videoContainer {
    margin: 20px;
}