.header {
    background-color: #D9D9D9;
    /* background-image: url("../assets/Nightview1.jpg"); */
    opacity: 70%;
    /* background-position: 100px; */
    position: fixed;
    top: 200px;
    left: -100px;
    width: 1000px;
    height: 300px;
    transform: skew(-20deg);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 30px;
    /* display: flex;
    justify-content: center; */
    box-shadow: 4px 6px 4px 5px rgba(0, 0, 0, 0.50);
}