/* Container will be fixed on page with scrollable content */
/* inset x pixels from the RHS */
/* 
.inactiveButton {}

.activeButton {} */

.container {
    position: fixed;
    top: 60px;
    left: 800px;
    right: 0;
    width: 600px;
    height: 100%;
    /* flex-shrink: 0; */
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.50) inset;
    overflow: scroll;
    padding-bottom: 20px;
}

.architectureButton {
    position: fixed;
    width: 300px;
    height: 60px;
    top: 0;
    left: 800px
}

.softwareButton {
    position: fixed;
    width: 300px;
    height: 60px;
    top: 0;
    left: 1100px
}